{% extends 'visiteur/index.html.twig' %}



{% block body %}
    <br><br><br><br><br><br>
    <div class="container mt-md-5">
        <h1 class="text-black-50">Participer à un événement</h1>

        {{ form(form) }}


    </div>
{% endblock %}
