{% extends 'visiteur/index.html.twig' %}



{% block body %}
    <br><br><br><br><br><br>
    <div class="row">

        <div class="col-md-12">
            <h1 class="text-black-50">Payer la participation à un événement</h1>





        </div>
        <div class="col-md-6">

            <img src="ParticipantController.php?text=<?php echo ($_GET['text']) ?>" alt="qr-code">



        </div>
    </div>

{% endblock %}
